.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "side content";
    gap: 2vw;
}

.excursion-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 3vw;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: lightgray;
    padding-top: 2vw;
    padding-bottom: 3vw;
    border-radius: 10px;
    grid-area: content;

}

app-excursion-tile {
    min-width: 26%;
    width: 26%;
    grid-area: side;
}