<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label for="name">Excursion name: </label>
    <input
      type="text"
      ngModel
      name="name"
      required
      pattern="[a-zA-Z ]*"
      id="name"
    />
    <div class="gap"></div>
    <label for="country">Country: </label>
    <input
      type="text"
      ngModel
      name="country"
      required
      pattern="[a-zA-Z ]*"
      id="country"
    />
    <div class="gap"></div>
    <label for="startDate">Start date (yyyy-mm-dd): </label>
    <input
      type="text"
      ngModel
      name="startDate"
      required
      pattern="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])"
      id="startDate"
    />
    <div class="gap"></div>
    <label for="endDate">End date: </label>
    <input
      type="text"
      ngModel
      name="endDate"
      required
      pattern="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])"
      id="endDate"
    />
    <div class="gap"></div>
    <label for="price">Price: </label>
    <input
      type="text"
      ngModel
      name="price"
      required
      pattern="\d+(?:\.\d{2})?"
      id="price"
    />
    <div class="gap"></div>
    <label for="numberOfPlaces">Number of places: </label>
    <input
      type="text"
      ngModel
      name="numberOfPlaces"
      required
      pattern="\d+"
      id="numberOfPlaces"
    />
    <div class="gap"></div>
    <label for="description">Description: </label>
    <textarea
      rows="5"
      ngModel
      name="description"
      type="text"
      required
      id="description"
    ></textarea>
    <div class="gap"></div>
    <label for="imgLink">Image link: </label>
    <input type="text" ngModel name="imgLink" required id="imgLink" />
    <div class="gap"></div>
    <label for="details_image_links"
      >Comma-separated image links for details:
    </label>
    <textarea
      rows="5"
      ngModel
      name="details_image_links"
      type="text"
      required
      id="details_image_links"
    ></textarea>
    <div class="gap"></div>
    <button class="submit" [disabled]="!f.valid" type="submit">Submit</button>
  </form>
</div>
