.container {
    width: 80%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
}

.empty {
    text-align: center;
    color: red;
    font-size: 3vh;
    line-height: 3vh;
    padding: 10px;
}

.container>.excursion {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    font-size: large;
    height: 8vh;
    line-height: 8vh;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.excursion>div {
    text-align: center;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.buttons>button {
    width: 33%;
    height: 50%;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.buy-bttn {
    background-color: rgb(68, 217, 68);
}

.remove-bttn {
    background-color: rgb(255, 59, 59);
}

.totals .total-price {
    grid-column: 4 / 6;
}

.totals .buttons {
    grid-column: 6;
}