app-navbar {
  z-index: 5;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  grid-area: nav;
}

.site-content {
  margin-top: 9vh;
  grid-area: content;
}

.container {
  display: grid;
  grid-template-areas:
    "nav"
    "content";
  gap: 2vw;
  background: transparent;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.gap-div {
  height: 1vw;
}
