.container {
    width: 100%;
    position: relative;
}

.reviews-header {
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.reviews-header>button {
    height: 50%;
    border: none;
    background-color: rgb(68, 217, 68);
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.review {
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.review .review-header {
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.gap {
    height: 2vh;
}

.form-container {
    position: fixed;
    width: 50%;
    height: fit-content;
    padding: 2%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


.form-container>form {
    display: flex;
    flex-flow: column nowrap;
}

.close {
    height: 4vh;
    width: 4vh;
    align-self: flex-end;
    font-size: x-large;
    color: red;
}

.validation-output {
    color: red;
    font-size: small;
}