<picture>
    <img id="background"
        src="https://www.thoughtco.com/thmb/g8h6NnWWWVkm-KXNBgMx-0Edd2U=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages_482194715-56a1329e5f9b58b7d0bcf666.jpg"
        alt="" srcset="">
</picture>
<div class="main-container">

    <h1 id="title">Welcome to our travel agency!</h1>
    <h3 id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed cumque veniam officia a minima?
        Sapiente doloribus facilis commodi, quidem odit quo dolor nostrum itaque necessitatibus cupiditate aut beatae,
        earum numquam corporis reprehenderit molestiae in! Ratione dolorum, molestias amet fuga ipsum, eaque itaque
        explicabo minus aliquid eum eligendi, harum quisquam consequuntur.</h3>
    <div id="list">
        <ul>
            <li>Chorwacja</li>
            <li>Grecja</li>
            <li>Włochy</li>
            <li>Islandia</li>
            <li>Maroko</li>
            <li>Japonia</li>
        </ul>
    </div>
    <div class="map">
        "Tu powinna byc mapa ale agm sie nie instaluje"
    </div>

    <!-- <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->


    <h2 class="contact">Contact</h2>
    <div id="list2">
        <ul>
            <li>000 000 000</li>
            <li>Grzegorz Brzęczyszczykiewicz</li>
            <li>Lipinki łużyckie</li>
            <li>Łączna 43</li>
            <li>najlepsze.biuro@uj.edu.pl</li>
        </ul>
    </div>

</div>